body{

      background-color: lightpink;
      margin: 0;
      padding: 0;

    }
    img{
      width: 100%;
      height:auto;
    }


    nav{
      font-family: Arial;

    }
    nav ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
  nav  ul li{
      float: left;
      width: 180px;
      height: 45px;
      background-color: black
      opacity: .8;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      margin: auto;
      margin-top: 20px
    }
  nav  ul li a{
      text-decoration: none;
      color: gray;
      display: block;
    }
  nav  ul li a:hover{
      background: yellow;
    }
    ul li ul li{
      display: none;
    }
  nav  ul li:hover ul li {
      display: block;
    }
  .center-element{
    margin:auto;
    display:block;
    width:80%;
  }




  .coverart{
    position: relative;
  }
  .coverart h1{
    position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -50%);
  font-family: 'Grey Qo', cursive;
  }
  h1{
    text-align: center;
    display: block;
  }
  h2{
    font-family: 'Birthstone', cursive;
    font-size: 35px;
    text-align: center;

    color: maroon
  }

  ol{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5%;
    width: 50%
    font-size: 55px;
  }
  li{
    margin: auto;
    padding: 5%;
    width: 80%
    font-size: 50%;
  }
  a{
    color: gray;
  }
  a:visited{
    color: white;
  }
  .video{
    margin: auto;
    padding: 6px;
  }
  p{
    text-align: center;
    font-size: 25px
  }
  .lyrics{
    text-align: center;
    font-size: 1.5m
    margin: auto
}
.parallax {

/* Set a specific height */
min-height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax div{
height:1000px;
}
.hotguy{
/* The image used */
background-image: url("rotimi.jpeg");
margin-top: auto;
margin-bottom: auto;

}
.plies{
/* The image used */
background-image: url("plies.jpg");

}
.john{
/* The image used */
background-image: url("johnlegend.jpg");
margin-top: auto;
margin-bottom: auto;
margin-right:15px

}
.ciara{
/* The image used */
background-image: url("ciara.jpeg");
margin-top: auto;
margin-bottom: auto;

}
.babedady{
/* The image used */
background-image: url("babydaddy.jpg");
margin-top: auto;
margin-bottom: auto;
margin-right: 20px;

}
.chris{
/* The image used */
background-image: url("chris.png");
margin-top: auto;
margin-bottom: auto;
margin-right: 15px;
}
.queenb{
/* The image used */
background-image: url("beyonce.jpeg");
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
}
.jeremih{
/* The image used */
background-image: url("jeremih.jpg");
margin-top: auto;
margin-bottom: auto;
margin-right: auto;

}
.sexyvoice{
/* The image used */
background-image: url("ann.jpg");
margin-top: auto;
margin-bottom: auto;
margin-right: auto;

}
.myhusband{
/* The image used */
background-image: url("ricky.jpg");
margin-top: auto;
margin-bottom: auto;
margin-right: auto;

}
