body{
      background-color: lightpink;
      margin: 0;
      padding: 0;

    }
    img{
      width: 100%
      height:auto;
    }
  .center-element{
    margin:auto;
    display:block;
    width:80%;
  }
  .topright {
    position: absolute;
    Top: 12px;
    right:20px;
    color: black;
    font-family: 'Birthstone', cursive;
    font-size: 20px,
  }
  nav{
  font-family: avenir;
  margin: 2em;
  font-size: 170%;
  line-height: 1.5;
}
nav
  a{
    color: black
  }
.h2{
  color: maroon
}
  ol{
      padding: 1%
      margin:auto;
      border:  2px black solid;
      width: 70%
    }
    li{
      border-bottom: white 2px scrolling;
      padding: 6px;
      width: 90%
      margin: auto;
    }

.parallax {

/* Set a specific height */
min-height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax div{
height:1000px;
}
.hotguy{
/* The image used */
background-image: url("rotimi.jpeg");

}
.plies{
/* The image used */
background-image: url("plies.webp");

}
.john{
/* The image used */
background-image: url("johnlegend.jpeg");

}
.ciara{
/* The image used */
background-image: url("ciara.jpeg");

}
.babedady{
/* The image used */
background-image: url("babydaddy.jpg");

}
.chris{
/* The image used */
background-image: url("chris.png");
}
.jeremih{
/* The image used */
background-image: url("jeremih.jpg");

}
.queenb{
/* The image used */
background-image: url("beyonce.jpeg");

}
.sexyvoice{
/* The image used */
background-image: url("ann.jpg");

}
.myhusband{
/* The image used */
background-image: url("ricky.jpg");

}
